
@use './utils/helperMixins';

.link-nav {
  color: var(--color-2);
  font-size: 18px;

  &:hover {

    @include helperMixins.text-gradient(var(--elem-gradient));
  }

  &--active {
    @include helperMixins.text-gradient(var(--elem-gradient));
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 50%;
      bottom: -15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translateX(-50%);
      background: var(--elem-gradient);
    }
  }
}
