
@use './utils/helperMixins' as *;
@use '../utils/mediaMixins' as *;


.link-nav {
  color: var(--color-2);
  font-size: 18px;


  @include hover-and-pointer {
    &:hover {
      @include text-gradient(var(--elem-gradient));
    }
  }
  


  @include max_1024{
    font-size: 16px;
  }

  @include max_380 {
    font-size: 14px
  }

  &--active {
    @include text-gradient(var(--elem-gradient));
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 50%;
      bottom: -15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translateX(-50%);
      background: var(--elem-gradient);
      @include max_1024{
        bottom: -10px;
      }
    }

  }


}
