@use "../utils/helperMixins";
@use "../utils/mediaMixins" as *;

.cart-item {
  display: grid;
  grid-template-columns: 150px auto 150px 50px;
  gap: 10px;
  padding-top: 20px;
  color: var(--color-text-dark);

  @include max_767 {
    grid-template-columns: 120px auto 50px 50px;
  }

  @include max_575 {
    grid-template-columns: 90px auto 50px 50px;
    gap: 5px;
  }

  @include max_430 {

  }

  &__img {
    @include max_575 {
        transform: scale(1.3);
    }
  }

  &__info {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: antiquewhite;
      filter: blur(10px);
      border-radius: 50% 20%;
    }
  }

  &__btn {
    width: 30px;
    height: 30px;
    background-color: var(--color-2);
    border: none;

    &--minus,
    &--plus {
      font-size: 20px;
      font-weight: 500;

      @include helperMixins.hover-and-pointer {
        transition: filter 0.3s;

        &:hover:not(:disabled) {
          filter: brightness(1.2);
        }
      }

      &:active:not(:disabled) {
        transform: scale(0.96);
      }

      &:disabled {
        cursor: initial;
      }
    }
    &--minus {
      // @include max_767 {
      //   margin-bottom: 20px;
      // }
    }
  }

  &__controls {
    align-self: center;
       @include max_767 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
  }

  &__remove {
    align-self: center;
    width: 22px;
    height: 22px;
    background-color: var(--color-danger);
    background-image: url("../img/icons/cross.svg");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    border: solid 1px var(--color-5);
    @include max_767 {
      justify-self: end;
      margin-right: 10px;
    }
  }

  &__name {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  &__size {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__price {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__title-ingredients {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
  }

  &__addons {
    position: relative;
    z-index: 1;
    font-size: 14px;
  }

  &__title-ingredients,
  &__name {
    font-weight: 500;
  }

  &__addons span:not(:last-child)::after {
    content: ", ";
  }

  &__quantity {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    text-align: center;
  }

}
