@use '../utils/mediaMixins' as *;
@use '../utils/helperMixins';



.ingredient-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  @include max_767 {
   gap: 5px;
  }

  &__wrapper-img {
    height: 70px;

    @include max_767 {
      height: 50px;
    }
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }
}