@use '../utils/mediaMixins' as *;
@use '../utils/helperMixins';



.ingredient-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  &__wrapper-img {
    height: 70px;
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }
}