.pizza-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 296px;
  width: 100%;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 21px;
  border-radius: 29px;
  background: var(--card-pizza);
  @media (hover:hover) {
    transition: box-shadow 0.3s ease-out;
    &:hover{
      box-shadow: 0 0 6px 2px var(--color-4);
    }
    &:hover .pizza-card__img {
      transform: scale(1.1);
    }
  }

  &__header {
    position: relative;
    padding-top: 120px;
    margin-bottom: 20px;
  }

  &__figure {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -38%);
    width: 185px;
    height: 185px;
  }

  &__img {
    width: 100%;
    max-width: initial;
    height: 100%;
    transition: transform 0.3s;
    pointer-events: none;
    user-select: none;
  }

  &__title {
    color: var(--color-text-primary);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
  }

  &__ingredients {
    max-width: 224px;
    margin-bottom: 22px;
    color: var(--color-text-secondary);
    font-size: 14px;
    @media (max-width: 380px) {
      max-width: 100%;
    }
  }

  &__form {
    align-self: stretch;
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-bottom: 22px;
    user-select: none;
  }

  &__size-label {
    flex-shrink: 0;
    display: inline-flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @media (max-width: 380px) {
      width: 30px;
      height: 30px;
    }
  }

  &__size-text {
    width: 100%;
    border: solid hsl(0, 0%, 64%) 1px;
    border-radius: 50%;
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    @media (hover: hover) {
      transition: box-shadow 0.3s, filter 0.3s;

      &:hover {
        background: var(--elem-gradient);
        color: var(--color-text-primary);
        filter: brightness(1.2);
        box-shadow: 0 0 2px 1px var(--color-3), 0 0 4px 2px var(--color-3) inset;
      }
    }

    @media (max-width: 380px) {
      font-size: 12px;
      line-height: 30px;
    }
  }

  &__size-radio:checked + &__size-text {
    background: var(--elem-gradient);
    color: var(--color-text-primary);
    border: solid var(--color-1) 1px;
    box-shadow: 0 0 4px 2px, 0 0 2px 1px var(--color-1) inset;
    pointer-events: none;
    cursor: initial;
  }

  &__customize-btn {
    display: block;
    position: relative;
    max-width: 190px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 24px;
    border-radius: 84px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    user-select: none;


    &:active {
      transform: scale(0.99);
    }
    @media (hover: hover) {
      &:hover span {
        color: var(--color-text-primary);
      }
      &:hover::before {
        opacity: 0;
      }
    }
    @media (max-width: 380px) {
      font-size: 14px;
    }

    

    &::before,
    &::after {
      position: absolute;
      content: "";
    }
    &::before {
      z-index: 1;
      inset: 0;
      border-radius: 84px;
      background-color: var(--card-pizza);
      transition: opacity 0.3s;
    }
    &::after {
      z-index: 0;
      inset: -1px;
      border-radius: 84px;
      background: var(--elem-gradient);
    }
  }

  &__order-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 380px){
      gap: 20px;
    }
  }

  &__price {
    width: 100px;
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 25px;
    user-select: none;
    @media (max-width: 380px) {
      width: 70px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__currency {
    padding: 2px;
    vertical-align: super;
    font-size: 14px;
    user-select: none;
  }

  &__quantity-controls {
    display: flex;
    gap: 10px;
  }

  &__quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: solid var(--color-text-secondary) 1px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text-secondary);
    cursor: pointer;
    user-select: none;
    &--active {
      border: solid solid var(--color-3);
      background: var(--elem-gradient);
      color: var(--color-text-primary);
    }
     &:active {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: initial;
    }
  }

  &__quantity {
    align-self: flex-end;
    width: 30px;
    color: var(--color-text-secondary);
    font-size: 22px;
    line-height: 0.7;
    text-align: center;
    user-select: none;

  
    @media (max-width: 380px) {
      font-size: 20px;
      line-height: 1;
    }
  }

  &__order {
    position: relative;
    z-index: 0;
    max-width: 194px;
    // width: 100%;
    // padding-top: 14px;
    // padding-bottom: 14px;
    // border-radius: 84px;
    // border: none;
    // background: var(--elem-gradient);
    // color: var(--color-text-primary);
    font-size: 18px;
    user-select: none;

    &::before {
      position: absolute;
      content: '';
      inset: -2px;
      z-index: -1;
      border-radius: 84px;
      background-color: var(--card-pizza);
      transform: scaleX(0);
      transition: transform 0.3s 0.1s;
    }
    @media (hover: hover) {
      transition: box-shadow 0.3s, opacity 0.3s;
      &:hover {
        opacity: 0.9;
        box-shadow: 0 0 4px 2px, 0 0 4px 2px var(--color-1) inset;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }

  }
}
