@use '../utils/mediaMixins' as *;
@use '../utils/helperMixins';



.pizza-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 296px;
  width: 100%;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 21px;
  border-radius: 28px;
  background: var(--card-pizza);

  @media (hover:hover) {
    transition: box-shadow 0.3s ease-out;

    &:hover {
      box-shadow: 0 0 6px 2px var(--color-4);
    }

    &:hover .pizza-card__img {
      transform: scale(1.1);
    }
  }

  @include max_767 {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
  }

  &__header {
    position: relative;
    width: 100%;
    padding-top: 120px;
    margin-bottom: 20px;

    @include max_767{
      padding-top: 90px;
      margin-bottom: 10px;
    }
  }

  &__figure {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -38%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

    @include max_767 {
      width:160px;
      height: 160px;
    }
  }

  &__img {
    transition: transform 0.3s;
    pointer-events: none;
    user-select: none;
  }

  &__title {
    color: var(--color-text-primary);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

    @include max_1400 {
      width: 17vw;
      min-width: 100%;
    }
    
    @include max_767{
      font-size: 18px;
    }
  }

  &__ingredients {
    width: 100%;
    margin-bottom: 22px;
    color: var(--color-text-secondary);
    font-size: 14px;
    @include max_1400 {
      width: 17vw;
      min-width: 100%;
    }
  }


  &__form {
    align-self: stretch;
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-bottom: 22px;
    user-select: none;
  }

  &__size-label {
    flex-shrink: 0;
    display: inline-flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include max_767 {
      width: 30px;
      height: 30px;
    }
  }

  &__size-text {
    width: 100%;
    border: solid hsl(0, 0%, 64%) 1px;
    border-radius: 50%;
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;

    @media (hover: hover) {
      transition: box-shadow 0.3s, filter 0.3s;

      &:hover {
        background: var(--elem-gradient);
        color: var(--color-text-primary);
        filter: brightness(1.2);
        box-shadow: 0 0 2px 1px var(--color-3), 0 0 4px 2px var(--color-3) inset;
      }
    }

    @include max_767 {
      font-size: 12px;
      line-height: 30px;
    }
  }

  &__size-radio:checked+&__size-text {
    background: var(--elem-gradient);
    color: var(--color-text-primary);
    border: solid var(--color-1) 1px;
    box-shadow: 0 0 4px 2px, 0 0 2px 1px var(--color-1) inset;
    pointer-events: none;
    cursor: initial;
  }

  &__customize-btn {
    display: block;
    position: relative;
    max-width: 190px;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-bottom: 24px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    user-select: none;


    &:active {
      transform: scale(0.99);
    }

    @media (hover: hover) {
      &:hover span {
        color: var(--color-text-primary);
      }

      &:hover::before {
        opacity: 0;
      }
    }

    @include max_767 {
      font-size: 14px;
    }

    @media (max-width: 380px) {
      font-size: 14px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      z-index: 1;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5.25em;
      background-color: var(--card-pizza);
      transition: opacity 0.3s;
    }

    &::after {
      z-index: 0;
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5.25em;
      background: var(--elem-gradient);
    }
  }

  &__order-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    @include max_767{
    justify-content: space-around;
    }

    @media (max-width: 380px) {
      gap: 20px;
    }
  }

  &__price {
    width: 100px;
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 20px;
    user-select: none;

    @include max_767{
      font-size: 18px;
      // width: 70px;
    }

    @include max_380 {
      text-align: center;
    }
   
  }

  &__currency {
    padding: 2px;
    vertical-align: super;
    font-size: 14px;
    user-select: none;
  }

  &__quantity-controls {
    display: flex;
    gap: 10px;
  }

  &__quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: solid var(--color-text-secondary) 1px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text-secondary);
    cursor: pointer;
    user-select: none;


    &--active {
      border: solid solid var(--color-3);
      background: var(--elem-gradient);
      color: var(--color-text-primary);
    }

    &:active {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: initial;
    }
    @include max_767{
      width: 18px;
      height: 18px;
    }
  }

  &__quantity {
    align-self: flex-end;
    width: 30px;
    color: var(--color-text-secondary);
    font-size: 22px;
    line-height: 0.7;
    text-align: center;
    user-select: none;

    @include max_767{
      width: 20px;
      font-size: 16px;
    }

    @media (max-width: 380px) {
      font-size: 20px;
      line-height: 1;
    }
  }

  &__order {
    position: relative;
    z-index: 0;
    max-width: 194px;
    font-size: 18px;
    font-weight: 500;
    user-select: none;

    &::before {
      position: absolute;
      content: '';
      inset: -2px;
      z-index: -1;
      border-radius: 84px;
      background-color: var(--card-pizza);
      transform: scaleX(0);
      transition: transform 0.3s 0.1s;
    }

    @media (hover: hover) {
      transition: box-shadow 0.3s, opacity 0.3s;

      &:hover {
        opacity: 0.9;
        box-shadow: 0 0 4px 2px, 0 0 4px 2px var(--color-1) inset;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    @include max_767 {
      font-size: 16px;
    }

  }
}