@use "./utils/variables";
@use "./utils/mediaMixins" as *;
@use "./utils/reset";
@use "./utils/fonts";
@use "./utils/helperMixins";

// atoms
@use "./logos/logo";
@use "./buttons/btn";
@use "./texts/main-title";
@use "./decor/lightning";
@use "./buttons/btn-play";
@use "./texts/paragraph";
@use "./lists/list";
@use "./buttons/cart-btn";
@use "./icons/social-icon";
@use "./texts/text-gradient";
@use "./buttons/close-btn";

// molecules
@use "./links/link-nav";
@use "./cards/pizza";
@use "./cards/promo";
@use "./cards/event";
@use "./cards/ingredients";
@use "./icons/icons-social";
@use "./cards/cart-item.scss";
@use "./panels/order-submit";
@use "./forms/form-order";

// organism
@use "./panels/cart";

// sections
@use "./sections/header";
@use "./sections/hero";
@use "./sections/menu";
@use "./sections/events";
@use "./sections/about-us";
@use "./sections/footer";
@use "./sections/aside";

// pages
@use "./pages/home";

// global
@use "./utils/global";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

//  если элемент с позицией absolute уходит за нижний край самого нижнего элемента , то scroll  будет у body и html
body {
  min-height: 100vh;
  font-family: "Muller", sans-serif;
  background-image: var(--bg-gradient);
}

.main {
  padding-top: 197px;

  @include max_1024 {
    padding-top: 200px;
  }

  @include max_767 {
    padding-top: 150px;
  }
}

.empty-cart {
  display: grid;
  gap: 20px;
  justify-items: center;
  padding-top: 100px;
  // color: var(--color-text-secondary);
}



#menuPizza,
#events,
#meat,
#about {
  scroll-margin-top: 150px;
}

/* Для Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 12px;
  /* ширина скроллбара */
}

::-webkit-scrollbar-track {
  background: #4b2e0e;
  /* тёмно-коричневый фон */
}

::-webkit-scrollbar-thumb {
  background-color: #a66a27;
  /* светло-коричневый ползунок */
  border-radius: 6px;
  border: 2px solid #4b2e0e;
  /* отступ, чтобы создать эффект обводки */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c29332;
  /* при наведении более светлый */
}

.no-scroll {
  overflow: hidden;
}


.hidden {
  display: none !important;
}
