@use './utils/variables';
@use './utils/mediaMixins' as *;
@use './utils/reset';
@use './utils/fonts';
@use './utils/helpers';
@use './utils/global';

// atoms
@use './buttons/btn';
@use './links/link-nav';

// molecules
@use './cards/pizza';
@use './cards/promo';



// sections
@use './sections/header';
@use './sections/hero';
@use './sections/menu';


// pages
@use './pages/home';



body {
  min-height: 100vh;
  font-family: 'Muller', sans-serif;
  background: var(--bg-gradient);
}

.logo {
  display: block;
  width: 162px;
  height: 37px;

  & img {
    width: 100%;
    height: 100%;
  }
}
