
@use '../utils/mediaMixins' as *;

.list {
  display: flex;
  gap: 80px;
  text-wrap: nowrap;
  @include max_1024 {
    gap: 60px;
    font-size: 16px;
  }

  @include max_767 {
    gap: 5vw;
  }

  @include max_575 {
    gap: 30px;
    flex-wrap: wrap;
  }
  @include max_380  {
    gap: 20px;
  }
}