.wrapper-btn-orange {
  font-size: 20px;
}

.wrapper-btn-dark {
  font-size: 22px;
}

.btn {
  // max-width: 232px;
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 100px;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  &:active {
    transform: scale(0.98);
  }
 
  &--dark {
    position: relative;
    background: var(--btn-dark);
    color: var(--color-1);
    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      inset: 0;
      background-color: var(--btn-dark);
      filter: blur(20px) brightness(1.7);
    }
    &:active::before {
      opacity: 0;
    }
  }

  &--accent {
    background: var(--btn-accent);
    color: var(--color-1);
  }

  &--small {
    padding: 0.65em;
    border-radius: 84px;
  }
}