
@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;

.cart-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--elem-gradient);
  cursor: pointer;

  @include max_767  {
    width: 30px;
    height: 30px;
  }

  & img {
    width: 70%;
    height: 70%;
    transform: translateY(-1px)
  }

  &:active {
    transform: scale(0.97);
  }

  &__count {
    position: absolute;
    left:  -10px;
    bottom: -10px;
    display: grid;
    align-items: center;
    width: 65%;
    height: 65%;
  
    border-radius: 50%;
    border: solid var(--color-3) 2px;
    background-color: var(--color-1);
    color: var(--color-5);
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s;
    // для выравнивания текста по вертикали(оптическая иллюзия)
    transform: translateY(0.5px);
    @include max_767 {
      width: 70%;
      height: 70%;
    }
    &--active {
      opacity: 0.8;
    }
  }

  @include helperMixins.hover-and-pointer {
    &:hover {
      opacity: 0.8;
    }
  }
}