

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}