@use './helperMixins';
@use "../utils/mediaMixins" as *;


.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include max_767 {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.d-none {
  display: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-no-wrap {
  text-wrap: nowrap;
}

.ps-rel-idx-100 {
  position: relative;
  z-index: 100;
}

.fw-500 {
  font-weight: 500;
}
