:root {

	--color-1: hsl(0, 0%, 100%);
	--color-2: hsl(0, 0%, 64%);
	--color-3: hsl(34, 100%, 58%);
	--color-4: hsl(15, 100%, 60%);
	--color-5: hsl(17, 94%, 7%);

	--color-danger: rgb(248, 10, 10);


	--bg-gradient: linear-gradient(245.71deg, hsl(26, 100%, 5%) 4.96%, hsl(15, 100%, 5%) 33.7%, hsl(27, 100%, 4%) 68.41%, hsl(26, 100%, 5%) 96.42%);
	--footer-gradient: linear-gradient(223.15deg, rgba(22.95, 9.64, 0, 1), rgba(22.95, 5.51, 0, 1) 31%, rgba(15.3, 6.52, 0.16, 1) 69%, rgba(22.95, 9.83, 0.33, 1) 100%);
	--elem-gradient: linear-gradient(261.69deg, hsl(15, 100%, 57%) 12.12%, hsl(34, 100%, 58%) 86.72%);
	--elem-gradient-reverse: linear-gradient(-261.69deg, hsl(15, 100%, 57%) 12.12%, hsl(34, 100%, 58%) 86.72%);

	--color-text-primary: var(--color-1);
	--color-text-secondary: var(--color-2);
	--color-text-dark: var(--color-5);

	--size-sub-title: clamp(1.25rem, 1.1266rem + 0.4613vw, 1.5625rem);

	// elements
	--card-pizza: var(--color-5);


	--btn-accent: var(--elem-gradient);
	--btn-dark: var(--color-5);

	--switch-color: var(--bg-gradient);
	--switch-border: var(--elem-gradient);

}

@media (max-width:1024px) {
	:root {}
}


@media (max-width:330px) {
	:root {
		--size-sub-title: 5vw;
	}
}