@use '../utils/mediaMixins' as *;
@use '../utils/helperMixins' as *;

.events {
  position: relative;
  margin-right: -20px;
  text-align: center;
  margin-bottom: 120px;

  @include max_767 {
    margin-bottom: 100px;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    top: 10%;
    left: -21%;
    z-index: 1;
    width: 35%;
    height: 35%;
    background-image: url('../img/decor/egg-and-bacon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;


    @include max_1680 {
      left: -10%;
      width: 220px;
      height: 220px;
    }

    @include max_1024 {
      top: 5%;
    }

    @include max_575 {
      left: initial;
      top: 150px;
      right: -80px;
    }

    @include max_480 {
      top: 150px;
      right: initial;
      left: -70px;
      width: 170px;
      height: 170px;
    }

    @include max_380 {
      top: 180px;
      left: initial;
      right: -60px;
    }

  }


  &::after {
    z-index: 1;
    bottom: -5%;
    left: -14%;
    width: 31%;
    height: 31%;
    background-image: url('../img/decor/cofee.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;



    @include max_1680 {
      bottom: 0;
      left: -5%;
      width: 200px;
      height: 200px;
    }

    @include max_767 {
      left: 70%;
    }

    @include max_480 {
      width: 150px;
      height: 150px;
    }
  }

  @include max_767 {
    margin-right: -10px;
  }

  &__info {
    float: right;
    max-width: 443px;
    padding-top: 100px;
    padding-left: 16px;
    margin-right: 20px;
    margin-bottom: 20px;

    &::before {
      position: absolute;
      content: '';
      top: 30%;
      right: -18%;
      z-index: 1;
      width: 40%;
      height: 40%;
      background-image: url('../img/decor/buritto.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;



      @include max_1300 {
        width: 250px;
        height: 250px;
        right: -70px;
      }

      @include max_575 {
        top: 40%;
      }

      @include max_480 {
        top: 45%;
        width: 200px;
        height: 200px;
      }

      @include max_380 {
        top: 48%;
        right: -40px;
        width: 150px;
        height: 150px;
      }
    }

    &::after {
      position: absolute;
      content: '';
      z-index: -1;
      top: -140px;
      right: 0;
      width: 100%;
      height: 262px;
      background-image: url('../img/decor/events-text-decor.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;

      @include max_1300 {
        top: 0;
      }
    }

    @include max_767 {
      padding-top: 50px;
      padding-left: 0;
    }
  }

  &__title {
    text-align: right;
    margin-bottom: 8px;

  }

  &__paragraph {
    text-align: right;
    line-height: 1.6;
  }

  & .event {
    margin-right: 20px;
    margin-bottom: 26px;
    text-align: left;

    @include max_767 {
      margin-right: 10px;
      margin-bottom: 12px;
    }
  }

  & .event:last-child {

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      left: 0;
      bottom: -60%;
      width: 150%;
      height: 262px;
      background-image: url('../img/decor/events-text-decor.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

  }
 
}