@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;

.footer {
  display: grid;
  gap: 80px;
  padding-top: 70px;
  padding-bottom: 60px;
  background-image: var(--footer-gradient);

  @include max_1199 {
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 60px;
  }

  &__logo {
    flex-shrink: 0;
  }


  &__top {
    display: flex;
    gap: 80px;

    @include max_1199 {
      gap: 40px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }


  &__lists {
    padding-top: 10px;
    display: flex;


    & .footer-list:nth-child(2) {
      margin-left: 150px;
    }

    & .footer-list:nth-child(3) {
      margin-left: 108px;
    }

    & .footer-list:nth-child(4) {
      margin-left: 88px;
    }

    @include max_1199 {
      gap: 40px;
      justify-content: space-between;
      & .footer-list:nth-child(2),
      & .footer-list:nth-child(3),
      & .footer-list:nth-child(4) {
        margin-left: 0;
      }
    }

    @include max_575 {
     display: grid;
     grid-template-columns: repeat(2, auto);
     justify-content: initial;
    }
    @include max_380 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
    }
  }
}

.footer-list {
  &__title {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    gap: 16px;

    @include helperMixins.hover-and-pointer {
  
      & li:hover {
        text-shadow: 0 0 2px white;
        opacity: 1;
      }
    }
  }
}