@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;


.header {
  position: fixed;
  width: 100vw;
  z-index: 500;
  padding-top: 50px;
  padding-bottom: 25px;

  @include max_1024 {
    padding-top: 30px;
  }


  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background: var(--bg-gradient);
    opacity: 0;
    transition: opacity 0.3s;
  }



  &--active::before {
    opacity: 1;
  }


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {}


  &__list {
   
  }

  &__cart-btn {
    flex-shrink: 0;
  }

}