@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;


.header {
  position: fixed;
  width: 100vw;
  z-index: 500;
  padding-top: 50px;
  padding-bottom: 25px;

  @include max_1024 {
    padding-top: 30px;
  }


  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background: var(--bg-gradient);
    opacity: 0;
    transition: opacity 0.3s;
  }



  &--active::before {
    opacity: 1;
  }


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max_575 {
      display: grid;
      grid-template-columns:  1fr 1fr;
      justify-content: initial;
      align-items: initial;
      gap: 16px;
    }
  }

  &__logo {
    flex-shrink: 0;
    @include max_575 {
      order: 1;
    }
  }

  &__nav {
    // background-color: red;
    @include max_575 {
      order: 3;
      grid-column: 1/-1;
    }
  }


  &__list {
   
  }

  &__cart-btn {
    flex-shrink: 0;
    @include max_575 {
      order: 2;
      justify-self: end;
    }
  }

}