@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;


.header {
  position: fixed;
  width: 100vw;
  z-index: 500;
  padding-top: 50px;
  padding-bottom: 25px;
  // display: none;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background: var(--bg-gradient);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &--active::before {
    opacity: 1;
  }


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    color: rgba(163, 163, 163, 1);
    font-size: 18px;
  }

  &__cart {}
}

