@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;

  @include max_767 {
    flex-direction: column-reverse;
    gap: 0;
    margin-bottom: 75px;
  }

  &__img {
    flex-shrink: 0;
    position: relative;

    @include max_1024 {
      flex-shrink: 1;
    }

    @include max_767 {
    }

    @include max_480 {
    }

    &::before {
      position: absolute;
      content: '';
      left: 10%;
      top: -120px;
      width: 100%;
      height: 50%;
      background-image: url('../img/decor/pizza-text.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
    }

    &::after {
      position: absolute;
      content: '';
      left: -50%;
      bottom: -50px;
      width: 100%;
      height: 50%;
      background-image: url('../img/decor/pizza-text.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include max_767 {
        display: none;
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 538px;
    width: 100%;
    padding-top: 60px;

    &::before {
      position: absolute;
      content: '';
      left: 10%;
      top: -50px;
      width: 100%;
      height: 50%;
      background-image: url('../img/decor/pizza-text.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;


      @include max_1024 {
        left: 0;
      }
    }
  }

  &__title {
    order: 1;
    position: relative;
    margin-bottom: 36px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 6%;
      z-index: -1;
      width: 100px;
      height: 100px;
      background-image: url('../img/decor/arrow-2.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include max_767 {
        display: none;
      }
    }
  }

  &__lightning {
    position: relative;
    top: 15px;
    left: -4px;
  }

  &__paragraph {
    order: 2;
    max-width: 411px;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  &__figure {
    order: 3;
    max-width: 272px;
    margin-bottom: 50px;
    @include max_767 {
      order: 4;
      margin-bottom: 0;
    }
  }

  &__figcaption {
    margin-bottom: 20px;
  }

  &__player {
    background-image: url('../img/decor/video-img.webp');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__switch {
    order: 4;
    position: relative;
    z-index: 100;
 
    @include max_767 {
      order: 3;
      margin-bottom: 50px;
    }
  }
}

.pizza-scene {
  position: relative;
  max-width: 462px;
  width: 100%;
  border-radius: 30px;


  &::before {
    position: absolute;
    content: '';
    top: -26%;
    right: -31%;
    width: 65%;
    height: 60%;
    background-image: url('../img/decor/slice-pizza.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    position: absolute;
    content: '';
    left: -39%;
    bottom: -16.5%;
    width: 68%;
    height: 50%;
    background-image: url('../img/decor/french-fries.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
  }

  &--v2 {
    max-width: 566px;
    &::before {
      top: -26.5%;
      right: -25.5%;
      width: 52.5%;
    
    }
  }
}

.player {
  position: relative;

  &__video {
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    &:active {
      transform: translate(-50%, -50%) scale(0.98);
    }
  }
}


.switch {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 388px;
  width: 100%;
  min-width: 330px;
  min-height: 58px;
  border-radius: 84px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  @include max_767{
    min-width: 100%;
    font-size: 14px;
  }

  &:active {
    transform: scale(0.99);
  }

  @media (hover: hover) {
    &:hover span {
      // color: var(--color-text-primary);
    }

    &:hover::before {
      // opacity: 0;
    }
  }

  @media (max-width: 380px) {
    // font-size: 14px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    z-index: 1;
    inset: 0;
    border-radius: 84px;
    background-color: var(--card-pizza);
  }

  &::after {
    z-index: 0;
    inset: -1px;
    border-radius: 84px;
    background: var(--elem-gradient-reverse);
  }

  &__left,
  &__right {
    position: relative;
    z-index: 2;
  }

  &__left {
    padding-left: 20%;
  }

  &__right {
    padding-right: 10%;
  }

  &__toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 229px;
    width: 59.1%;
    border-radius: inherit;
    background: var(--elem-gradient-reverse);
    transition: transform 0.3s;
  }

  &--toggle-left {
    & .switch__left {
      color: aliceblue;
      transform: scale(1.3);
    }

    & .switch__toggle {
      
    }
  }

  &--toggle-right {
    & .switch__right {
      color: aliceblue;
      transform: scale(1.3);
    }

    & .switch__toggle {
     transform: translateX(70%);
    }
  }
}