@use '../utils/helperMixins';
@use '../utils/mediaMixins' as *;

.panel-ingredients {
  position: relative;
  font-size: 20px;
  background-color: inherit;

  &::before {
    position: absolute;
    content: '';
    width: 98%;
    height: 40px;
    bottom: -10px;
    z-index: 1;
    background-color: inherit;
    filter: blur(5px);
  }

  &__title {
    font-size: 24px;

    &--small {
      font-size: 20px;
    }
  }

  &__overlay {
    position: relative;
    margin-bottom: 10px;
    background-color: inherit;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      width: 98%;
      height: 100%;
      top: 1em;
      z-index: -1;
      background-color: inherit;
      filter: blur(5px);
    }
  }

  &__wrapper-sections {
    display: grid;
    gap: 40px;
    height: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    overflow: auto;
    
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 7px;
      background-color: var(--color-2);
    }
    &::-webkit-scrollbar-thumb {
      border: none;
    }
  }

  &__section {
    display: grid;
    gap: 20px;
    text-align: right;
  }

  &__container-ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  &__value {
    position: relative;
    max-width: 200px;
    width: 100%;
    padding: 10px;
    border: solid transparent 1px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 10px;
      width: 15px;
      height: 20px;
      border-top: solid var(--color-3) 2px;
      border-left: solid var(--color-3) 2px;
      transform: rotate(-120deg);
      opacity: 0;
    }


    &:active {
      transform: scale(0.95);
    }

    &--add {
      border-color: var(--color-3);
      &::before {
        opacity: 1;
      }
    }

  }

  &__price {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 12px;
  }

}

.panel-pizza {
  display: flex;
  flex-direction: column;
  
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__size {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 500;
  }

  &__info-container {
    display: flex;
    align-items: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 200px;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 12px;
  }

  &__price-custom {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__price-standard {
    font-size: 14px;
  }

  &__price-total {
    margin-left: 20px;
    font-size: 18px;

    & .total-price {
      font-weight: 500;
      font-size: 18px;
    }
   
  }

  &__ingredients {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.3;
  }

  &__ingredients +  &__ingredients {
    margin-bottom: 0;
  }

  &__footer{
    display: flex;
    align-items: center;
    margin-top: auto;
  }

 
  &__btn-quantity {
    padding: 10px 20px;
    background-color: transparent;
    border: solid 1px;

    @include helperMixins.hover-and-pointer {
      transition: filter 0.3s;
      &:hover:not(:disabled) {
        filter: blur(1px);
      }
    }
    &:active:not(:disabled) {
      transform: scale(0.96);
    }
    &:disabled {
      cursor: initial;
    }
  }

  &__quantity {
    display: inline-block;
    width: 40px;
    font-size: 16px;
    text-align: center;
  }


}

.menu {

  &__title {
    position: relative;
    margin-bottom: 30px;
    text-align: center;

    &::before {
      position: absolute;
      content: '';
      top: -190px;
      left: 40%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      background-image: url('../img/decor/arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;

      @include max_1024 {
        top: -150px;
        left: 37%;
        width: 150px;
        height: 150px;
      }

      @include max_767 {
        display: none;
      }
    }

    @include max_767 {
      margin-bottom: 25px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    @include max_1199 {
      justify-content: center;
    }

    @include max_430 {
      gap: 5px;
    }
  }

  &__tab-btn {
    max-width: 229px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;

    @include helperMixins.hover-and-pointer {
      transition: transform 0.3s;

      &:hover {
        opacity: 0.7;
        transform: scaleX(1.05);
      }
    }

    @include max_767 {
      max-width: 170px;
      font-size: 18px;
    }

    @include max_430 {
      max-width: 48%;
      font-size: 16px;
    }

    @include max_330 {
      font-size: 4vw;
    }

    &--active {
      transform: scale(0.9);
      pointer-events: none;
    }
  }

  &__cards-top,
  &__cards-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 22px;
    row-gap: 70px;
    padding-top: 100px;
    padding-bottom: 100px;

    @include max_1199 {
      grid-template-columns: repeat(2, 300px);
      justify-content: center;
    }

    @include max_767 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12px;
      justify-items: center;
      padding-top: 70px;
      padding-bottom: 25px;
    }

    @include max_430 {
      grid-template-columns: 1fr;
    }
  }

  &__cards-top {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: -10%;
      top: 0;
      width: 467px;
      width: 37%;
      height: 320px;
      background-image: url('../img/decor/menu.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;


      @include max_1024 {}
    }

    &::after {
      position: absolute;
      content: '';
      z-index: -1;
      right: -10%;
      bottom: -200px;
      width: 467px;
      width: 37%;
      height: 320px;
      background-image: url('../img/decor/menu.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;


      @include max_1024 {}
    }
  }

  &__cards-bottom {
    position: relative;

    & .pizza-card:nth-child(1) {

      // относительно карточки текст, если карточки нет текста не будет
      &::before {
        position: absolute;
        content: '';
        z-index: -1;
        left: -70%;
        top: -25%;
        width: 150%;
        height: 320px;
        background-image: url('../img/decor/menu.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        @include max_1024 {}
      }
    }
  }

  &__cards .pizza-card {
    animation: rotate 0.3s linear;
  }

  &__overlay {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 1000;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(84, 84, 84, 0.661);
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out, visibility 0s 0.5s;
    pointer-events: none;

    &--active {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
      transition: opacity 0.2s ease-in, visibility 0s 0s;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 840px;
    width: 100%;
    height: 800px;
    padding: 20px 40px;
    border-radius: 28px;
    background-color: var(--color-1);
  }

  &__panel-pizza {
    flex: 1 1 50%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-track {
      background: inherit;
    }
  }

  &__panel-ingredients{
    flex: 1 1 calc(50% - 20px);
    overflow: hidden;
  }


  &__panel-btn {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin-left: auto;
    @include helperMixins.hover-and-pointer {
      transition: filter 0.3s;
      &:hover {
        filter: brightness(1.5);
      }
    }
    &::before {
      display: none;
    }
  }
}


@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotateY(-180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}




// section:nth-child(1) { 
//   background-color: red;
// }

// section:nth-child(2) {
//   background-color: aqua;
// }


// section:nth-child(3) {
//   background-color: rgb(162, 255, 0);
// }