

.order-submit {
  position: relative;
  z-index: 1;
  padding-top: 50px;

  &__info {
   
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
    z-index: -1;
    width: 90%;
    height: 50px;
    background-color: var(--color-1);
    filter: blur(5px);
  }
}