<section id="about" data-index="3" class="about-us">

  <div class="about-us__info">
    <h2 class="about-us__title main-title">About us</h2>
    <p class="about-us__paragraph paragraph">In just a couple of years, we have opened 6 outlets in different cities:
      Kazan, Chelyabinsk, Ufa, Samara, Izhevsk, and in the future we plan to develop the network in other major cities
      of Russia.</p>
    <div class="about-us__info-img">
      <picture>
        <!-- <source srcset="./assets/img/decor/pizza-about-us-mobile.webp" media="(max-width: 480px)"> -->
        <source srcset="./assets/img/decor/pizza-about-us.webp">
        <img src="./assets/img/decor/pizza-about-us.png" alt="pizza on the table">
      </picture>
    </div>

    <p class="about-us__paragraph paragraph">The kitchen of each point is at least: 400-500 sq. m. meters, hundreds of
      employees, smoothly performing work in order to receive / prepare / form / deliver customer orders on time.</p>
  </div>

  <div class="about-us__decor-img">
    <div class="pizza-scene pizza-scene--v2">
      <picture>
        <source srcset="./assets/img/decor/pizza-about-us-decor-mobile.webp" media="(max-width: 480px)">
        <source srcset="./assets/img/decor/pizza-about-us-decor.webp">
        <img src="/assets/img/decor/pizza-about-decor-us.png" alt="pizza on the table">
      </picture>
    </div>
  </div>
</section>