<header class="header">
  <div class="header__content container">
    <a class="logo" href="/">
      <img src="./assets/img/pizzashop.png" alt="pizza shop">
    </a>
    <nav class="header__nav">
      <ul class="list header__list">
        <li class="list__item"><a class="link-nav link-nav--active" href="#">Home</a></li>
        <li class="list__item"><a class="link-nav" href="#menuPizza">Menu</a></li>
        <li class="list__item"><a class="link-nav" href="#events">Events</a></li>
        <li class="list__item"><a class="link-nav" href="#about">About us</a></li>
      </ul>
    </nav>
    <button id="cartBtn" class="header__cart-btn cart-btn">
      <img src="./assets/img/icons/icon-cart.png" alt="cart button">
      <span class="cart-btn__count">3122</span>
    </button>
  </div>
</header>