

<section id="menuPizza" class="menu">
  <h2 class="menu__title">Menu</h2>
  <div class="menu__tabs">

  </div>


  <div class="menu__card">
    {{#each pizza_1}}
    {{#each this}}
    {{> pizza this}}
    {{/each}}
    {{/each}}

    <div class="menu__promo">

      <article class="video-content">
          <div class="promo">
            <h3 class="promo__title">Видео или картинка</h3>
          </div>
      </article>

    </div>

    {{#each pizza_2}}
    {{#each this}}
    {{> pizza this}}
    {{/each}}
    {{/each}}

  </div>
</section>

<!-- узнать про рекламный ролик -->