<section id="menuPizza" class="menu">
  <h2 class="menu__title">Menu</h2>
  <ul id="tabs" class="menu__tabs">
    {{#each tabs.data}}
    <li class="menu__tab-btn {{#if active}}menu__tab-btn--active{{/if}}">
      <button class="{{classes}}" data-category="{{categories}}">
        {{value}}
      </button>
    </li>
    {{/each}}
  </ul>

  <div class="menu__card">

    <div id="top-cards" class="menu__card-top">
      {{#each pizza_1}}
      {{#each this}}
      {{> pizza this}}
      {{/each}}
      {{/each}}
    </div>



    <div class="menu__promo">

      <article class="video-content">
        <div class="promo">
          <h3 class="promo__title">Видео или картинка</h3>
        </div>
      </article>

    </div>

    <div id="bottom-cards" class="menu__card-bottom">
      {{#each pizza_2}}
      {{#each this}}
      {{> pizza this}}
      {{/each}}
      {{/each}}
    </div>
  </div>
</section>

<!-- узнать про рекламный ролик -->