@use "../utils/helperMixins";
@use "../utils/mediaMixins" as *;


.form-order {
  max-width: 500px;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  border: solid var(--color-5) 1px;
  border-radius: 10px;
  background: var(--color-2);

  @include max_767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &__field {
    display: grid;
    gap: 2px;
  }

  &__field:not(:last-child) {
    margin-bottom: 10px;
  }

  &__label {
    font-size: 16px;
    @include max_767 {
      font-size: 14px;
    }
  }

  &__input {
    // background-color: red;
    border: none;
    height: 30px;
    border: solid var(--color-2) 1px;
    padding-left: 20px;

    &:focus {
      outline: solid var(--color-4) 1px;
    }
  }
}