<meta charset="UTF-8">
<link rel="icon" type="image/png" href="assets/img/mich-dev.png" />
<link rel="stylesheet" href="assets/css/style.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Mich Dev специализируется на разработке лендингов и приложений. Мы создаем адаптивные, удобные для пользователей веб-сайты и инновационные приложения, адаптированные под ваши бизнес-потребности." />

<meta name="keywords"
	content="разработка лендингов, создание игр, разработка приложений, веб-разработка, мобильные приложения, креативный дизайн, UI/UX дизайн, адаптивная верстка, программирование игр, Mich Dev, создание сайтов, дизайн интерфейсов, высококонверсионные лендинги, разработка под ключ" />

<meta name="author" content="Vlad Halimov" />
<meta property="og:title" content="Mich Dev — Разработка лендингов и приложений | Mich Dev" />
<meta property="og:description" content="Mich Dev — компания, специализирующаяся на разработке высококонверсионных лендингов, игр и приложений. Мы создаем адаптивные решения, которые удовлетворяют потребности вашего бизнеса."/>

<meta property="og:image" content="assets/img/mich-dev.png"/>
<meta property="og:url" content="http://michdev.ru" />

<meta name="twitter:title" content="Mich Dev — Разработка лендингов и приложений | Mich Dev" />
<meta name="twitter:description" content="Mich Dev — компания, специализирующаяся на разработке высококонверсионных лендингов, игр и приложений. Мы создаем адаптивные решения, которые удовлетворяют потребности вашего бизнеса." />
<meta name="twitter:image" content="assets/img/mich-dev.png" />
<meta name="twitter:card" content="summary_large_image" />

<title>{{title}}</title>